/* You can add global styles to this file, and also import other style files */

html * {
    font-family: 'Consolas', sans-serif;
}

.widget {
    background: var(--widget-background-color, #dfdfdf);
    padding: 10px;
    border-radius: 3px;
    margin: 10px;
    font-size: 18px;
}

/* Leaflet css */
@import '~leaflet/dist/leaflet.css';

.leaflet-popup-content {
    margin: 0 auto !important;
    background: transparent !important;
    box-shadow: none !important;
}

.leaflet-popup-content-wrapper {
    background: transparent !important;
    box-shadow: none !important;
}

.leaflet-popup-tip {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
}
